{{define "fgm_vote"}}
<div id="space" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div style="margin: 0.2em; background-color: var(--background-body); --p:30px; --shadow:5; --br:30px">
      <h4>发现一个新主题</h4>
      <p class="preview">{{.Vote.raSpace.post.text}}</p>
      <hr style="margin: 20px 0;">
      <h6>{{.Vote.raSpace.subject}}</h6>
      <div id="articles" class="horizontal-scroll-wrapper">
        {{range $i, $article := $.Vote.raSpace.articles}}
        <div id="article{{$i}}">
          <p style="font-size: 20px;">{{$article}}</p>
          <button onclick="onVote(2, {{$article}})">有</button>
          <button onclick="onNext({{$i}})">无</button>
        </div>
        {{end}}
        <div>
          <p style="font-size: 20px;">检测结束，请问是否允许发布该主题？</p>
          <button onclick="onVote(2)">拒绝</button>
          <button onclick="onVote(1)">允许</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-close" onclick="onVote(3)"></div>
</div>
<script>
  function onVote(status, remark="") {
    var request = new XMLHttpRequest();
    request.open("POST", "{{.VoteURL}}/{{.Vote.token}}");
    request.send(JSON.stringify({ "status": status, "remark": remark }));
    request.onload = function () {
      console.log("vote " + request.status)

      var spaceModal = document.getElementById("space")
      spaceModal.className = "modal"

      Cookies.set("vt{{.Vote.token}}", "true")
    }
  }

  function onNext(i) {
    var articlesDiv = document.getElementById("articles").getElementsByTagName("div")
    for (let index = 0; index < articlesDiv.length; index++) {
      const element = articlesDiv[index];
      element.style.transform = 'translateX(-' + (i + 1) * 100 + '%)';
      element.style.transition = "0.2s"
    }
  }

  function isVoted() {
    var voted = Cookies.get("vt{{.Vote.token}}")
    if (!voted) {
      var spaceDiv = document.getElementById("space")
      spaceDiv.className = spaceDiv.className + " is-active"
    }
  }

  isVoted()
</script>
{{end}}