{{define "fgm_head"}}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- <link rel="icon" href="../drawables/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../drawables/favicon.ico" type="image/x-icon" /> -->
  <meta name="theme-color" content="#efefef">

  <title>{{.Title}}</title>
  <meta name="description" content="{{.Description}}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bonsai.css@1.0.1/dist/bonsai.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/node-snackbar@0.1.16/dist/snackbar.min.css">
  <link rel="stylesheet" href="/static/saynice.css">
  <script src="https://cdn.jsdelivr.net/npm/node-snackbar@0.1.16/dist/snackbar.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
</head>
{{end}}