{{define "fgm_vote"}}
<div id="space" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="dialog" style="--shadow:5;">
      <h4>发现一个新主题</h4>
      <p class="preview">{{.Vote.raSpace.post.text}}</p>
      <hr style="margin: 20px 0;">
      <h6>{{.Vote.raSpace.subject}}</h6>
      <div id="articles" class="horizontal-scroll-wrapper">
        {{range $i, $article := $.Vote.raSpace.articles}}
        <div id="article{{$i}}">
          <p style="font-size: 20px;">{{$article}}</p>
          <button onclick="onVote(2, {{$article}})">是</button>
          <button onclick="onNext({{$i}})">否</button>
        </div>
        {{end}}
        <div>
          <p style="font-size: 20px;">检测结束，请问是否允许发布该主题？</p>
          <button onclick="onVote(2)">拒绝</button>
          <button onclick="onVote(1)">允许</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-close" onclick="onVote(3)"></div>
</div>
<script>
  function onVote(status, remark = "") {
    if (3 == status) {
      alert("进入随机匿名空间的用户，你好，审查是你在社区的权限，也是你的责任和义务，请问是否确认本次弃权？",
        "继续审查", "确认弃权",
        undefined,
        function () {
          vote(status, remark)
        }
      )
    } else {
      vote(status, remark)
    }
  }

  function vote(status, remark) {
    apiPost("{{.VoteURL}}/{{.Vote.token}}", { "status": status, "remark": remark }, function (resp) {
      var spaceModal = document.getElementById("space")
      spaceModal.className = "modal"

      Cookies.set("vt{{.Vote.token}}", "true")
      Snackbar.show({ text: "感谢你的参与和支持，谢谢。", });
    })
  }

  function onNext(i) {
    var articlesDiv = document.getElementById("articles").getElementsByTagName("div")
    for (let index = 0; index < articlesDiv.length; index++) {
      const element = articlesDiv[index];
      element.style.transform = 'translateX(-' + (i + 1) * 100 + '%)';
      element.style.transition = "0.2s"
    }
  }

  function isVoted() {
    var voted = Cookies.get("vt{{.Vote.token}}")
    if (!voted) {
      var spaceDiv = document.getElementById("space")
      spaceDiv.className = spaceDiv.className + " is-active"
    }
  }

  isVoted()
</script>
{{end}}