{{define "fgm_preview"}}
<div id="preview" class="modal">
  <div class="modal-background" onclick="onPreview()"></div>
  <div class="modal-content">
    <div style="margin: 0.2em; background-color: var(--background-body); --p:30px; --shadow:5; --br:30px">
      <h4>预览</h4>
      <p id="previewContent" class="preview"></p>
      <hr style="margin: 20px 0;">
      <h6>请检查主题内容中是否含有以下项。</h6>
      <div id="articles" class="horizontal-scroll-wrapper">
      </div>
    </div>
  </div>
  <div class="modal-close" onclick="onPreview()"></div>
</div>
<script>
  var postID = 0

  function onPreview() {
    var previewDiv = document.getElementById("preview")
    if (previewDiv.className == "modal") {
      initArticles("{{.APIDomain}}/articles", function (articles) {
        var articlesDiv = document.getElementById("articles")
        articlesDiv.innerHTML = ""

        for (let index = 0; index < articles.length; index++) {
          appendArticle(articlesDiv, articles[index], "是", "否", function () {
            Snackbar.show({ text: "你好，请修改相关违约内容后再发布，谢谢。", });
            onPreview()
          }, function () {
            onNext(index)
          })
        }

        appendArticle(articlesDiv, "检查结束，请问是否确定发布该主题？", "再写会儿", "发布", function () {
          onPreview()
        }, function () {
          onSubmit()
        })

        var postTextareaDiv = document.getElementById("postTextarea")
        var previewContentDiv = document.getElementById("previewContent")
        previewContentDiv.innerHTML = postTextareaDiv.value
        previewDiv.className = "modal is-active"
      })
    } else {
      previewDiv.className = "modal"
    }
  }

  function onNext(i) {
    var articlesDiv = document.getElementById("articles").getElementsByTagName("div")
    for (let index = 0; index < articlesDiv.length; index++) {
      const element = articlesDiv[index];
      element.style.transform = 'translateX(-' + (i + 1) * 100 + '%)';
      element.style.transition = "0.2s"
    }
  }

  function newPost() {
    apiGet("{{.APIDomain}}/new/post", function (resp) {
      postID = resp.data;
    })
  }

  function onSubmit() {
    apiPost("{{.APIDomain}}/post/" + postID, { "text": postTextarea.value }, function (resp) {
      if (0 == resp.code) {
        Snackbar.show({ text: "SUCCESS", });
        window.location = "/post/" + postID
      } else {
        Snackbar.show({ text: resp.erro, });
      }
      onPreview()
    })
  }

  newPost()
</script>
{{end}}