{{define "fgm_vote"}}
<div id="space" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="dialog" style="--shadow:5;">
      <h4>发现一个新主题</h4>
      <p class="preview">{{.Vote.raSpace.post.text}}</p>
      <hr style="margin: 20px 0;">
      <h6>{{.Vote.raSpace.subject}}</h6>
      <div id="articles" class="horizontal-scroll-wrapper">
      </div>
    </div>
  </div>
  <div class="modal-close" onclick="onVote(3)"></div>
</div>
<script>
  initArticles("{{.ArticlesURL}}", function (articles) {
    var articlesDiv = document.getElementById("articles")

    for (let index = 0; index < articles.length; index++) {
      appendArticle(articlesDiv, articles[index], "是", "否", function () {
        Snackbar.show({ text: "你好，请修改相关违约内容后再发布，谢谢。", });
        onVote(2)
      }, function () {
        onNext(index)
      })
    }

    appendArticle(articlesDiv, "检查结束，请问是否允许发布该主题？", "拒绝", "允许", function () {
      onVote(2)
    }, function () {
      onVote(1)
    })
  })

  function onVote(status, remark = "") {
    if (3 == status) {
      alert("请问是否确认放弃本次表决？",
        "确认放弃", "继续表决",
        function () {
          vote(status, remark)
        },
        undefined
      )
    } else {
      vote(status, remark)
    }
  }

  function vote(status, remark) {
    apiPost("{{.VoteURL}}/{{.Vote.token}}", { "status": status, "remark": remark }, function (resp) {
      var spaceModal = document.getElementById("space")
      spaceModal.className = "modal"

      Cookies.set("vt{{.Vote.token}}", "true")
      Snackbar.show({ text: "感谢你的支持和参与，谢谢。", });
    })
  }

  function onNext(i) {
    var articlesDiv = document.getElementById("articles").getElementsByTagName("div")
    for (let index = 0; index < articlesDiv.length; index++) {
      const element = articlesDiv[index];
      element.style.transform = 'translateX(-' + (i + 1) * 100 + '%)';
      element.style.transition = "0.2s"
    }
  }

  function isVoted() {
    var voted = Cookies.get("vt{{.Vote.token}}")
    if (!voted) {
      var spaceDiv = document.getElementById("space")
      spaceDiv.className = spaceDiv.className + " is-active"
    }
  }

  isVoted()
</script>
{{end}}