<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- <link rel="icon" href="../drawables/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../drawables/favicon.ico" type="image/x-icon" /> -->
  <meta name="theme-color" content="#efefef">

  <title>{{.Title}}</title>
  <meta name="description" content="{{.Description}}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bonsai.css@1.0.1/dist/bonsai.css">
  <link rel="stylesheet" href="/static/saynice.css">
  <style>
    @media (max-width: 640px) {
      .menu {
        display: flex;
        margin-bottom: 15px;
        padding: 5px;
        background-color: #00000009;
      }

      .content {
        max-width: 100%;
      }
    }

    @media (min-width: 880px) {
      .menu {
        display: flex;
        margin-bottom: 60px;
        padding: 20px;
        background-color: #00000009;
      }

      .content {
        max-width: 640px;
        margin-left: 120px;
      }
    }

    @media (min-width: 640px) and (max-width: 880px) {
      .menu {
        display: flex;
        margin-bottom: 30px;
        padding: 10px;
        background-color: #00000009;
      }

      .content {
        max-width: 640px;
        margin: auto;
      }
    }
  </style>
</head>

<body id="body" class="primary">
  <div id="menu" class="menu">
    <div style="width: auto; padding: 0 10px;">
      <a href="/">
        <h2>SayNice</h2>
      </a>
    </div>
    <div style="flex: 1; text-align: end; justify-content: end; align-self: flex-end;">
      <h3>33° ⛅</h3>
    </div>
  </div>
  <div id="content" class="content">
    {{range $i, $post := $.Posts}}
    <div style="padding:25px;">
      <div id="t{{$post.id}}" class="text">{{$post.text}}<button onclick="onAll({{$post.id}})">全文</button></div>
      <div style="display: flex; justify-content: end; padding: 10px 5px">
        <span style="flex: 1">{{$post.createdAt}}</span>
        <div style="flex: 1; text-align: end">
          <button class="none" style="padding: 2px 15px;" onclick="onEmoji({{$post.id}})">😀</button>
          <button class="none">{{$.ReportButtonText}}</button>
        </div>
      </div>
      <div id="a{{$post.id}}" style="background-color: #00000009; font-size: 1.3em;"></div>
      <div id="f{{$post.id}}" style="background-color: #00000009; font-size: 1.3em;" hidden></div>
    </div>
    {{end}}
  </div>
  <button onclick="onWrite()"
    style="position: fixed; height: 48px; width: 48px; bottom: 48px; right: 32px; text-align: center; --p: 0px; --br:90px; --shadow:5;">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit">
      <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" />
      <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z" /></svg>
  </button>
  {{if .HasVote}}
  {{template "fgm_vote" .Vote}}
  {{end}}

  <script>
    var themes = [
      "primary",
      "secondary",
      "green",
      "blue",
      "orange",
      "red",
      "black",
      "accent primary",
      "accent secondary",
      "accent green",
      "accent blue",
      "accent blue",
      "accent orange",
      "accent black",
    ]

    var feelingsDiv = document.createElement("div")
    feelingsDiv.setAttribute("id", "feeling");
    feelingsDiv.className = "feeling"

    var currentPostId = 0

    function changTheme() {
      // var x = document.getElementById("theme").value;
      var i = Math.random() * 10000 % themes.length
      var x = themes[Math.floor(i)]
      document.getElementById("body").className = x
    }

    function onAll(tid) {
      var p = document.getElementById("t" + tid)
      p.className = "text show-more"
    }

    function onEmoji(postId) {
      if (postId != currentPostId && 0 != currentPostId) {
        var cur = document.getElementById("f" + currentPostId)
        cur.hidden = true
      }

      var feel = document.getElementById("f" + postId)
      feel.appendChild(feelingsDiv)
      feel.hidden = !feel.hidden

      currentPostId = postId
    }

    function onWrite() {
      window.location.assign("./new/post")
    }

    function initEmoji() {// &#xXXXXX;
      var request = new XMLHttpRequest();
      request.open("GET", "/static/emoji.json");
      request.responseType = "json";
      request.send();
      request.onload = function () {
        var emojis = request.response;

        loadEmoji(emojis)
      }
    }

    function loadEmoji(emojis) {
      var feelings = []
      emojis.forEach(emoji => {
        emoji.feelings.forEach(feeling => {
          var temp = feelings[feeling.name]
          if (undefined == temp) {
            temp = [emoji]
          } else {
            temp[temp.length] = emoji
          }
          feelings[feeling.name] = temp
        })
      });

      for (var key in feelings) {
        var items = feelings[key]
        var div = document.createElement("div")
        var title = document.createElement("span")
        title.innerHTML = key + "<br>"
        title.style = "font-size: 0.5em; margin-left: 4px;"
        div.appendChild(title)
        items.forEach(item => {
          var btn = document.createElement("button")
          btn.className = "emoji"
          btn.id = item.show
          btn.title = item.name
          btn.onclick = function () {
            onAttitude(item.show)
          }
          btn.innerHTML = item.show
          div.appendChild(btn)
        });
        feelingsDiv.append(div)
      }
    }

    function onAttitude(show) {
      var postAttitudeDiv = document.getElementById("a" + currentPostId)
      var btn = document.createElement("button")
      btn.className = "emoji"
      btn.innerHTML = show
      postAttitudeDiv.appendChild(btn)
    }

    changTheme()
    initEmoji()
  </script>
</body>

</html>